<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

<div class="content" id="home">
  <div id="sidebar-button">
    <img src="/images/sidebar-button.png">
  </div>
  <div id="post-info">
    {% if page.cover %}
    <div id="cover-photo-container">
      <img id="cover-photo" src="/images/{{ page.cover }}">
    </div>
    {% else %}
    <div class="padding" id="nocoverpadding">
    {% endif %}
    <div id="info-container">
      <h1 id="title">{{ page.title }}</h1>
      {% if page.date %}
      <span id="date">{{ page.date | date_to_string }}</span>
      {% endif %}
    </div>
  </div>

  <div class="post">
    {{ content }}
  </div>
  {% if page.date %}
  <div class="colophon">
    <p>
      <span>Romain Gautron</span>
      <span>
        <a href="https://github.com/{{ site.github_username }}">
          <i class="fa fa-github"></i>
        </a>
      </span>
      <span>
      <a href="https://linkedin.com/in/{{ site.linkedin_username }}">
        <i class="fa fa-linkedin"></i>
      </a>
      </span>
    </p>
  </div>
  {% endif %}
</div>
